<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	<h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
	<nav class="my-2 my-md-0 mr-md-3">
	<!-- 	<ng-template [ngIf]="donation > 199" [ngIfElse]="donated">
			You are a VIP {{ donation }} €
		</ng-template>
		<ng-template #donated>You doanted {{ donation }} € </ng-template> -->
		{{ text }}
		<a class="p-2 text-dark" routerLink="/">Home</a>
		<a class="p-2 text-dark" routerLink="contact">Enterprise</a>
	</nav>
	<a class="btn btn-outline-primary" (click)="donate()">Donate 10€</a>
</div>
